<html>
    <head>
        <link href="assets/style.css" type="text/css" rel="stylesheet" />
    </head>
        <body>
            <h1>
                Oops. 404 | "/<%= ID %>" not found.
            </h1>
        </body>
</html>